{{ define "head" }}
  <head>
    <link rel="shortcut icon" type="image/png" href="./public/assets/disc.png"/>
    <link rel="stylesheet" href="/public/css/main.css" type="text/css" media="screen" charset="utf-8">
    <script type="text/javascript" src="/public/js/main.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
{{ end }}

{{ define "login" }}
    {{ if .IsLoggedIn }}
    <div id="userinfo">Hello, {{ .Name }}</div>
    {{ end }}
    <form method="post">
      <label class="collapse makeThread" for="_2"><b>+AUTH</b></label>
      <input id="_2" type="checkbox"> 

      <div class="formDiv post">
        <input id="username" class="title" name="username" placeholder="username" required maxlength="27" minlength="2"/>
        <input id="password" class="title" name="password" type="password" placeholder="password" required minlength="8" maxlength="27"/>
        <input type="submit" value="login" formaction="/api/signin"/>
        <input type="submit" value="or signup" formaction="/api/signup"/>
        <input type="submit" value="Log out" formaction="/api/logout"/>
      </div>
    </form>

    {{ if .IsLoggedIn }}
      <a href="/api/logout"><div id="logoutDiv">logout</div></a>
    {{ end }}

{{ end }}
