.mainNav {
    margin-left: 1em;
    margin-bottom: 1em;
}

.mainNav>ul>li {
    list-style-type: none;
    display: inline-block;
    margin-top: 0.5em;
    font-size: 1em;
}

.tagButt {
  background: #d52e12;
}

.defaultTagButt {
    background: #d52e12;
}


.showTrending {
    background: #21a9aa;2
}

/* .makeThread { */

/*     /1* margin: 1em; *1/ */

/*     background: yellow; */

/*     color: black; */

/*     margin-left: 1em; */

/*     border-radius: 0.3em; */

/* } */

/* #postSubmitButt { */
/*     display: inline-block; */
/* } */

.postButt {
    background-color: #d52e12;
    margin-top: 1em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    color: white;
    text-transform: uppercase;
    text-align: center;
    border-radius: 0.2em;
    width: 30vw;
}

.postBodyTextArea {
    border: none;
    background: #c3d379;
    /* background: #79d3ce; */
    height: 10vh;
    display: block;
    font-size: 1.3em;
    padding: 0.2em;
    width: 30vw;
}

.post:hover {
    /* background-color: #f6fa48; */
    cursor: pointer;
    border-left: 0.5em solid #d52e12;
}

.post {
    background-color: #f2f2f2;
    margin-top: 1.5em;
    font-family: sans-serif;
    list-style-type: none;
    padding: 0.5em;
    padding-right: 0;
    border-left: 0.5em solid #b8b8b4;
    overflow: auto;
    /* border-top: 1px solid #b8b8b4; */
    /* box-shadow: 5px 5px 5px #b8b8b4; */
}

.postHead {
    display: inline-flex;
    float: right;
}

.postHeadChild {
    padding-right: 1em;
    color: #91ba03;
    font-size: 0.7em;
    /* font-weight: bold; */
    text-transform: uppercase;
}

.postBody {
    color: #4f4333;
}

.postTitle {
    font-weight: bold;
    padding-bottom: 0.5em;
}

.postInfo {
    color: white;
    font-size: 0.8em;
    margin-right: 1em;
    border-radius: 0.2em;
    padding-top: 1em;
}

.postInfo>div>a {
    color: white;
}

.showTagInput {
    background-color: #e700a4;
    padding: 0.3em;
    color: white;
    border-radius: 0.2em;
    font-size: 0.8em;
    display: inline-block;
    text-transform: uppercase;
        margin-bottom: 0.5em;
}

.contextButt {
  margin-left: 1em;
  background-color: #fbb000;
  color: black;
  float: right;
}

.replyButt {
    background-color: #21a9a2;
    float: right;
}

.hiddenTagDiv {
    display: none;
}

.replyPost {
    margin-left: 1em;
}

.genericButt {
    text-decoration: none;
    color: white;
    padding-top: 0.2em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    text-transform: uppercase;
    border-radius: 0.2em;
    padding: 0.4em;
    display: block;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
}

.loginButt {
    background-color: #f7f700;
    border: 1px solid black;
    color: black;
}

.homeButt {
    background-color: #e17804;
    color: black;
}

.newPostButt {
    background: rgb(33, 169, 162);
}

.loginFormButt {
    user-select: none;
    color: white;
    display: inline;
    padding: 0.3em;
    text-transform: uppercase;
    border-radius: 0.2em;
}

#signinButt {
    background-color: #91ba03;
}

#signupButt {
    background-color: #15b5b5;
}

.passwordInput {
  margin-top: 0.2em;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px #fff400 inset !important;
}
