<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
{{template "head"}}                                    
  <body>
    {{ template "nav" . }}
    {{ template "login" . }}
    {{ if .UserData.IsLoggedIn}}
      {{template "postForm" . }}
    {{ end }}
    {{ template "frontpagePosts" . }}
    {{ template "footer" . }}
    <script type="text/javascript">
      for (const tag in tags) {
        document.getElementById("tag_"+tags[tag]).style.backgroundColor = "#91ba03";
      }
if (tags.length > 0) {
    console.log("tags: ", tags)
    isTrendshowing = false;
    showTrending();
} else {
    isTrendshowing = true;
    showTrending();
}


    </script>

  </body>
</html>
