<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
{{template "head"}}                                    
  <body>
    {{ template "nav" . }}
    {{ template "login" . }}
    {{ if .UserData.IsLoggedIn}}
      {{template "postForm" . }}
    {{ end }}
    {{ template "frontpagePosts" .Posts }}
    {{ template "footer" . }}
    <script type="text/javascript">
      for (const tag in tags) {
        document.getElementById("tag_"+tags[tag]).style.backgroundColor = "#91ba03";
      }
if (tags.length >= 1) {
        document.getElementById("postButt").innerHTML = "Posting with #tags selected";
      }
    </script>

  </body>
</html>
