{{ define "donate" }}
  <div class="donatePage" id="donatePage">
    <div class="donate" id="donate">
            <img src="../../public/assets/btcaddr.png"/>
    </div>
    <div class="donate" id="ethdonate">
            <img src="../../public/assets/ethaddr.png"/>
    </div>
  </div>
  <script>
   // picWidth = document.getElementById("donate").offsetWidth;
   // document.getElementById("donatePage").style.paddingLeft = (window.innerWidth/2) - picWidth;
  </script>
{{end}}
