<!--
  endNav ads a few navigation buttons to the nav menu but may be reused in 
  other parts of the front-end so it's separted into this component.
-->

{{define "endNav"}}
      <!-- {{ if .UserData.IsLoggedIn }} -->
      <!--   <div class="loginFormButt logoutButt" onClick="auth('logout')">logout</div> -->
      <!-- {{ end }} -->
      <div class="genericButt endButt" id="donateButt" onClick="showCode()">Donate</div>
      {{ if (eq .PageName "rules") }}
        <div class="genericButt endButt" style="background: #c2da59; color: #3f7a61;" onClick="showRules()">Rules</div>
      {{ else }}
        <div class="genericButt endButt" onClick="showRules()">Rules</div>
      {{ end }}
      <div class="genericButt endButt" id="contactButt" onClick="showContact()">Contact</div>
{{ end }}
