<!--
  errorDiv is an error <div> used for showing an error when a form is submitted

  Used in:
  frontpagePosts.tmpl
  replies.tmpl
-->
{{ define "errorDiv" }}
    <div id="replyError_{{ .ID }}" class="replyError"></div>
{{ end }}
