{{ define "follow" }}
        {{ if .UserData.IsLoggedIn }}
          {{ if ne .UserData.Name .UserView.Name  }}
                {{ if .UserView.IsFriend }}
                <div class="followButt FB_true" id="followButt" onClick="follow({{.UserView}})">-</div>
                {{ else }}
                <div class="followButt FB_false" id="followButt" onClick="follow({{.UserView}})">+</div>
                {{ end }}
          {{ end }}
        {{ end }}
{{ end }}
