<!--
  sort contains the buttons used to sort posts
  Date: newest/oldest
  Hot: posts sorted by rank
  Dead: threads about to die
-->

{{ define "sortButtons" }}
  <div class="sortButtons">
    <img src="/public/assets/fire_selected.png" />
    <img src="/public/assets/clock.png" />
  </div>
{{ end }}
