<!--
  topLogo is displayed at the top of tagMachine and containes a hamburger
  menu used to show the nav
-->
{{ define "topLogo" }}
        <div class="topLogoDiv">
                <div class="hash">#</div>
                <div class="outerLogo">
                        <div class="logoTag">Tag</div>
                        <div class="logoMachine">Machine</div>
                </div>
        </div>
{{ end }}
